<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комиссия по вопросам</title>
    <link rel="stylesheet" href="../src/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../src/css/style.css">
</head>
<body ng-app="CommissionApp">

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Commission
                    <small>which help build LIFE <span class="glyphicon glyphicon-home"></span></small>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-controller="RequestFormCtrl">
                        <a ng-click="open()"><span class="glyphicon glyphicon-edit"></span> Send request</a>
                    </li>
                    <li><a href="#questions">Open questions</a></li>
                    <li ng-controller="AboutUsCtrl">
                        <a ng-click="open()"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>

<section class="hero"></section>

<section class="index-questions" id="questions" ng-controller="ShowRequestsCtrl">
    <div class="container">
        <header class="section-header">
            <h1>Open Questions</h1>
            <h4>We got <strong>356</strong> requests</h4>
        </header>
        <div class="row">
            <article class="col-sm-6 col-md-3 request-preview" ng-repeat="request in requests">
                <a href="" id="request-{{request.ticketId}}">
                    <div class="img-wrap no-image">
                        <img src="../src/img/random/home175.png"/>
                    </div>
                    <h3 class="caption">{{request.description}}</h3>
                </a>
            </article>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2015 Commission, which help build LIFE
    </div>
</footer>

<div ng-controller="AboutUsCtrl">
    <script  type="text/ng-template" id="AboutUsModal.html">
        <article class="index-about">

            <header class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" ng-click="cancel()">
                    <span aria-hidden="true">&#10007;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h1 class="text-center">Our mission</h1>
            </header>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur, culpa error non officiis placeat
                    ratione vel voluptates. Hic nam nemo nostrum perspiciatis quibusdam quo recusandae rem! At quibusdam,
                    tempora.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur, culpa error non officiis placeat
                    ratione vel voluptates. Hic nam nemo nostrum perspiciatis quibusdam quo recusandae rem! At quibusdam,
                    tempora.</p>
                <img src="../src/img/animation/city.png"  class="img-responsive city-img" alt="Our city">
            </div>

        </article>
    </script>
</div>

<div ng-controller="RequestFormCtrl">
    <script type="text/ng-template" id="requestModal.html">

        <section class="index-form" id="apply">
            <header class="modal-header">
                <h1>Open the Question</h1>
                <h4>Make World better!</h4>
            </header>
            <form class="request-form" action="" name="request">
                <div class="modal-body">
                    <p class="help-block pull-right"><small>Be sure, your family name, email and phone number is confidential information and will not be shown at the site</small></p>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="Your full name">
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder="Your mobile">
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" placeholder="Address where happen the problem">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <select class="form-control">
                                <option value="" selected="selected" disabled>Please specify a problem</option>
                                <option value="366">I want sleep</option>
                                <option value="367">I need some food</option>
                                <option value="368">I'm drunk</option>
                            </select>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4">
                            <label for="exampleInputFile">Upload</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Attache your screenshot.</p>
                        </div>
                        <div class="col-xs-8"><textarea class="form-control" rows="5" placeholder="Details"></textarea></div>
                    </div>

                </div>
                <footer class="modal-footer">
                    <div class="agreement pull-left">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="checked"> <small>Agree with site rules</small>
                            </label>
                        </div>
                    </div>
                    <button type="submit" ng-click="ok()" ng-disabled="!checked" class="btn btn-primary btn-lg">Send your request</button>
                    <button type="cancel" ng-click="cancel()" class="btn btn-warning btn-lg">Cancel</button>
                </footer>
            </form>
        </section>
    </script>
</div>

<!-- JS FILES -->
<script src="../src/js/angular/angular.min.js"></script>
<script src="../src/js/ui-bootstrap-tpls-0.13.3.js"></script>
<script src="../src/js/app.js"></script>

</body>
</html>